body, h1, h2, h3, h4, h5, h6 {
	font-family: "Spectral SC", serif;
}

body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

footer {
	background-color: grey;
	padding: 25px;
}
